body{
  margin: 0px;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, STHeiti, 华文细黑, sans-serif;
  color: rgb(102, 102, 102);
  font-size: 14px;
}
.menu-layout{
  margin: 0px;
  min-height: 100px;
  background-color: rgb(66, 133, 244);
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 3px 1px -2px rgba(0, 0, 0, 0.2),0 1px 5px 0  rgba(0, 0, 0, 0.12);
}
.mdl-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}
.content{

}
.mulu-layout{
  position: fixed;
  top: 100px;
  width: 20%;
  color: #0099FF;
}
.daohang{
  top: 40px;
  overflow: hidden;
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
  left: 0;
}
.daohang_link{
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 64px;
  padding: 0 30px;
  color: #fff;
  border-bottom: 3px solid transparent;
}
.Components{
  opacity: 1;
  border-bottom-color: #fff;
}
.content-layout{
  position: fixed;
  top: 100px;
  right: 50px;
  width: 800%;
  color: #000000;
}
.nav {
    list-style-type: none;
    padding: 0;
    line-height: 1.3em;
    font-size: 14px;
    margin-bottom: 3px;
}
a {
    color: #0099FF;
    text-decoration: none;
}
